project-n-frontend/node_modules
project-n-backend/.env.local
project-n-backend/.env.local.php
project-n-backend/.env.*.local
project-n-backend/public/bundles/

project-n-backend/vendor/
project-n-backend/.env
project-n-backend/.idea
project-n-frontend/.idea
.idea

project-n-backend/!var/cache/.gitkeep
project-n-backend/!var/logs/.gitkeep
